// MarkdownPreview DLL version resource
// INFR-04, D-11: FILEVERSION 1,0,0,0 must match manifest.json "version":"1.0.0"
// Block 040904B0 = language 0x0409 (US English) + charset 0x04B0 (1200 Unicode)
#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "MarkdownPreview Contributors\0"
            VALUE "FileDescription",  "Live Markdown Preview Panel for Notepad++\0"
            VALUE "FileVersion",      "1.0.0.0\0"
            VALUE "InternalName",     "MarkdownPreview\0"
            VALUE "OriginalFilename", "MarkdownPreview.dll\0"
            VALUE "ProductName",      "MarkdownPreview\0"
            VALUE "ProductVersion",   "1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
